<h2 style="text-align:center; margin-top:20px; margin-bottom: 50px;">Click here for empty table</h2>
<div class="container">
  <div class="card">
<table class="table">
  <thead>
    <tr style="color: lightskyblue;">
      <th scope="col">Transaction Code</th>
      <th scope="col">Name</th>
      <th scope="col">Invest Amount</th>
      <th scope="col">Interest Rate</th>
      <th scope="col">Option</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1245235</th>
      <td>Ashish</td>
      <td>47374</td>
      <td>10%</td>
      <td>view options</td>
    </tr>
    <tr>
      <th scope="row">1245235</th>
      <td>Ashish</td>
      <td>47374</td>
      <td>10%</td>
      <td>view options</td>
    </tr>
    <tr>
      <th scope="row">1245235</th>
      <td>Ashish</td>
      <td>47374</td>
      <td>10%</td>
      <td>view options</td>
    </tr>
    <tr>
      <th scope="row">1245235</th>
      <td>Ashish</td>
      <td>47374</td>
      <td>10%</td>
      <td>view options</td>
    </tr>
  </tbody>
</table>
</div>
</div>